* {
  margin: 0;
}
.App {
  height: 100vh;
  display: flex;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.App-header-title {
  color: darkmagenta;
}

.App-left-panel {
  flex: 0.9;
  padding: 0 1rem;
}

.App-left-panel-info-boxes-wrapper {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
